
ion-textarea.sc-ion-textarea-ios-h{
    border: 2px solid #ccc;
    margin: 20px 0;
    padding: 10px;
}
ion-button {
    margin: 0px auto;
    width: 190px;
}
.feedback-form{
	margin-top: 30%;
}
.feedback-box {
    border: 0.5px solid;
    border-radius: 5px;
    padding: 10px;
    border-color: #e72200;
    height: 400px;
}
.feedback-button {
    padding-top: 20px;
}