

ion-content{
    --background: #fff url('../../../assets/imgs/otp-bg-new.png') no-repeat center center / cover;
}
.logo{
    margin-top: 5vh;
    margin-bottom: 3vh;
}

ion-title{
    margin-bottom: 5vh;
    
}
ion-title .toolbar-title{
    color: #fff;
}
.blank-btn{
    box-shadow: none;
}
p {
    line-height: 26px;
    font-size: 16px;
    color: #fff;
    margin: 0;
}
.login-form{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
ion-list{
    margin: 0 !important;
}
.item{
    width: calc(100% / 6);
    float: none;
    display: inline-block;
    padding: 0 7px !important;
    margin-bottom: 20px;
}
.text-input-md{
    width: 100%;
    }
    input.native-input.sc-ion-input-md {
    color: #fff !important;
}

ion-button.transparent {
    --box-shadow: none;
    --background: none;
}