<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Add Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="white">

  <form *ngIf="allStaticAndDynamicLists" (ngSubmit)="saveContact()" [formGroup]="addContactForm">
    <div class="accordion vertical">

      <ion-item>
        <ion-avatar (click)="selectImage()"
          style="width: 100px; height: 100px; margin: 0 auto 40px; position: relative;">
          <ion-icon name="add-outline" class="edite-icon" color="primary"></ion-icon>
          <img *ngIf="images.length > 0" [src]="images[0].path">
          <img *ngIf="images.length == 0" [src]="allStaticAndDynamicLists.no_image">
        </ion-avatar>
      </ion-item>

      <label class="contact">Contact Information</label>
      <div class="content">
        <ion-item>
          <ion-label position="floating">Full Name</ion-label>
          <ion-input formControlName="name" type="text" placeholder="Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email" placeholder="Email Address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Husband/Father Name</ion-label>
          <ion-input formControlName="father_husband_name" type="text" placeholder="Husband/Father Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">DOB</ion-label>
          <ion-datetime formControlName="dob" placeholder="Date Of Birth">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Gender</ion-label>
          <ion-select formControlName="gender" interface="alert" multiple="false" placeholder="Select Gender">
            <ion-select-option *ngFor="let value of allStaticAndDynamicLists.genders | keyvalue" value="{{value.key}}">
              {{value.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Marital Status</ion-label>
          <ion-select formControlName="marital_status_id" interface="alert" multiple="false"
            placeholder="Select Marital Status">
            <ion-select-option *ngFor="let value of allStaticAndDynamicLists.marital_status_for_contacts | keyvalue"
              value="{{value.key}}">{{value.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Occupation</ion-label>
          <ion-select formControlName="occupation" interface="alert" multiple="false" placeholder="Select Occupation">
            <ion-select-option *ngFor="let value of allStaticAndDynamicLists.jobs | keyvalue" value="{{value.key}}">
              {{value.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Current Posting</ion-label>
          <ion-input formControlName="current_posting" type="text" placeholder="Current Posting">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Education</ion-label>
          <ion-select formControlName="education" interface="alert" multiple="false" placeholder="Select Education">
            <ion-select-option *ngFor="let value of allStaticAndDynamicLists.educations | keyvalue"
              value="{{value.key}}">
              {{value.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Current Address</ion-label>
          <ion-input formControlName="current_address" type="text" placeholder="Current Address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Native Village</ion-label>
          <ion-input formControlName="native_village" type="text" placeholder="Native Village"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Facebook id</ion-label>
          <ion-input formControlName="facebook_id" type="text" placeholder="Facebook Username"></ion-input>
        </ion-item>

        <div class="mobiles-box">
          <div formArrayName="mobiles"
            *ngFor="let singleValue of addContactForm.get('mobiles')['controls']; let i = index;">
            <div [formGroupName]="i">
              <ion-item>
                <ion-label position="floating">Mobile Number</ion-label>
                <ion-input type="tel" formControlName="mobile" placeHolder="Mobile Number" minlength="10"
                  maxlength="10"></ion-input>
                <ion-icon *ngIf="i > 0" slot="end" (click)="removeMobileNumber(i)" name="close-circle"></ion-icon>
              </ion-item>
            </div>
          </div>

          <ion-button type="button" class="btn-theme" slot="end" size="small" shape="round" color="primary"
            (click)="addMoreMobilesNumbers()">Add More</ion-button>
        </div>

        <div class="relatives-box">
          <div formArrayName="relatives" class="relative"
            *ngFor="let singleValue of addContactForm.get('relatives')['controls']; let i = index;">
            <div [formGroupName]="i">
              <ion-item>
                <ion-label position="floating">Relative Name</ion-label>
                <ion-input type="text" formControlName="name" placeHolder="Relative Name"></ion-input>
                <ion-icon *ngIf="i > 0" slot="end" (click)="removeRelative(i)" name="close-circle"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Relative Relation</ion-label>
                <ion-input type="text" formControlName="relation" placeHolder="Relative Relation"></ion-input>
                <!-- <ion-icon *ngIf="i > 0" slot="end" (click)="removeRelative(i)" name="close-circle"></ion-icon> -->
              </ion-item>
            </div>
          </div>
          <ion-button type="button" class="btn-theme" slot="end" size="small" shape="round" color="primary"
            (click)="addMoreRelatives()">Add More</ion-button>
        </div>
      </div>

    </div>

    <ion-button type="submit" class="btn-theme" shape="round" color="primary" [disabled]="!addContactForm.valid">Add
      Contact</ion-button>
  </form>

</ion-content>

<!-- <app-tabs></app-tabs> -->